/* General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: rgb(216, 199, 185);
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* Typography */
body, p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1, h2, h3, h4 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Nav styling */
nav {
  background-color: #826b5c;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  flex: 2;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: rgb(255, 255, 255);
}

/* Main layout */
main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */
table {
  width: 100%;
  background-color: rgb(185, 159, 133);
  border-collapse: collapse;
  color: rgb(0, 0, 0);
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
  color: rgb(0, 0, 0);
}

tbody tr:nth-child(odd) {
  background-color: rgb(250, 240, 230);
}

/* Styling content images and audio */
img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

/* Comments styling */
.comments {
  background-color: rgb(240,230,220);
  padding: 10px;
}

.show-hide {
  cursor: pointer;
  text-align: center;
  width: 150px;
  background: #333;
  color: white;
  font-size: 1.6rem;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

/* Accessibility - visually hidden elements */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
